@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Onest:wght@300&display=swap');

body{
  padding: 2% 0% 2% 0%;
  background-color: #DFFBFF;
  font-family: 'Onest', sans-serif;
  font-size: 18px;
  color:#383838;
}

p {
  color: black;
  line-height: 1.7em;
}

h1, h2, h3, h4 {
  font-family: 'Bitter', serif;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.6em;
}

h3{
  font-size: 1.3em;
}

h4{
  font-size: 1.1em;
}

a {
  color:#5800FF;
}

figcaption{
  font-size: 0.8em;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:link{
  color:#5800FF;
}

nav ul li a:visited{
  color: #5800FF;
}

nav ul li a:hover{
  color: black;
}

nav ul li a:active{
  color: rgb(47, 133, 255);
}