body {
    padding: 1% 5% 1% 5%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 800;
  }

h2{
    font-weight: 600;
  }

a{
    color:#2a62b0;
}

li{
    margin-bottom:10px;
}


/* Custom Class Style */
.header-img{
    width: 60%;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.picofme{
    width: 13%;
    float: left;
    padding: 0% 4% 2% 0%;
}

.nobullets{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin-bottom: 50px;
}

.intro{
    margin-bottom: 20px;
}